body {
	margin: 0 auto;
	padding: 0;
	background-color: beige;
}
.App {
  
}
.one-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
 
}

.photos {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: 100px;
}
.as {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
	border: 2px solid rgb(69, 145, 128);
  border-radius: 15px;
  margin: 8px;
  width: 230px;
  height: 230px;
  font-size: 10px;
  color: rgb(109, 100, 100);

}
